[Unit]
Description=Email AI Assistant Service
After=network.target

[Service]
Type=oneshot
User=praveen
WorkingDirectory=/home/praveen/email-ai-assistant
ExecStart=/home/praveen/email-ai-assistant/.venv/bin/python -m app.main
StandardOutput=append:/home/praveen/email-ai-assistant/logs/email-assistant.log
StandardError=append:/home/praveen/email-ai-assistant/logs/email-assistant.log

[Install]
WantedBy=multi-user.target
